body,
p,
h1,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #766f68;

}

a {
    text-decoration: none;
}

/* header / menu */

header {
    max-width: 1080px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo a {
    color: #d2872c;
    font-size: 2.125em;
    font-weight: bold;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin-left: 20px;
}

.menu a {
    color: #2B2926;
    font-size: 1.5em;
}

.menu a:hover {
    color: #766f68;
}

/* main */
main {
    max-width: 1080px;
    margin: 0 auto;
    padding-bottom: 60px;
    position: relative;


}

.main-text h1 {
    font-size: 4em;
    margin-bottom: 20px;
    display: inline-block;
}

.main-text {
    width: 460px;
    float: left;
    position: absolute;
    margin-left: 40px;

}

.main-text p {
    font-size: 1.75em;
}

.main-text a {
    padding: 16px 20px;
    background: #d2872c;
    color: #fff;
    border-radius: 10px;
    width: 260px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 40px;
}

.main-text a:hover {
    background: #B97727;
}

.main-img {
    width: calc(960px - 240px);
    float: right;
    margin-top: 20px;


}

.main-img img {
    display: block;
    max-width: 100%;
    margin-left: 40px;

}